.form-control:focus {
  border-color: #009688;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 150, 136, 0.6);
}

#magicbtn {
  padding: 1rem;
}

.carousel {
  padding: 20rem;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 50%;
  margin: auto;
}
